/* Tirar as setinhas do input numérico */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;

}

.buttonChatbot{
  padding-left: 95%;
  padding-bottom: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.p-button.p-button-outlined{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-content: center;
  margin-right: 10px;
 
}

.p-button.p-button-outlined:hover{
  color: blue;
}

.icon{
  transform: scale(2.2);
}