@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

#inicio {
    text-align: center;
    align-content: center;
    justify-content: center;
}

.texto-inicial {
    padding: 15% 15%;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 72px;
    font-family: 'Roboto';
    letter-spacing: -0.015em;
    color: black;
    transform: rotate(0.09deg);
}

.texto-inicial p {
    padding: 10px 0;
}

.login {
    align-items: center;
    justify-content: center;
}

.formulario {
    margin-right: 10px;
    padding: 10px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.bt-pronto {
    margin: auto;
    text-align: center;
}

.titulo {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    transform: rotate(0.09deg);
}

.formulario div {
    padding: 30px 0;
}

.titulo-formulario {
    text-align: center;
}

.vantagens {
    text-align: center;
    margin: 5% 0;
    color: #0857A2;
    font-weight: bold;
}

.subtitulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: rgba(8, 54, 97, 1);
}

.imagem-vantagens{
    width: 65px;
    display: block;
}

.card-facilidades{
    padding: 0 5% 5% 5%;
}
