
<div id="chat-bot">
  <app-chatbot></app-chatbot>
</div>
<div class="conteudoAbout">
<img src=".\assets\quemsomos.png" class="imageAbout">
<div class="backgroundAbout">
<h4 class="tituloAbout">O que é?</h4>
<div class="textoAbout">
<p>A Best Solutions está no mercado com o intuito de facilitar a abertura de empresas fortalecendo novos empreendedores à região. <br>
Sabe porque você deve escolher a Best Solutions? É muito fácil:</p>

<p class="checksAbout"> <i class="pi pi-check"></i> Abriu mais de X empresas nos últimos 2 anos; </p>
<p class="checksAbout"> <i class="pi pi-check"></i> Fortaleceu mais de X empreendedores mesmo após a pandemia; </p>
<p class="checksAbout"> <i class="pi pi-check"></i> Dá apoio ao usuário do início ao fim do cadastro. </p>
</div>
<h4 class="tituloAbout">Dúvidas sobre as etapas de abertura?</h4>

<div class="textoAbout">
<p>Veja o tutorial onde mostram todas as etapas necessárias pra criação de empresas em nosso site.</p>
</div>
<div class="buttonDiv">
<button pButton label="ETAPAS" type="button" class="buttonEtapas" routerLink="/etapas"></button>

<div class="iconesRedeSocial">
<i class="pi pi-facebook"></i>
<i class="pi pi-whatsapp"></i>
<i class="pi pi-instagram"></i>
</div>
</div>
</div>
</div>
