#chat-bot{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.navbar-transparente {
  background-image: transparent;
}

.nav-link{
  color: white;
  font-size: 20px;
}

.nav-link:hover{
  color: #065eb1;
  text-decoration:overline;
}
