<!-- <app-navbar></app-navbar> -->
<!-- <app-home></app-home> -->
<!-- <app-about></app-about> -->
<!-- <app-etapas></app-etapas>  -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer> -->
<!-- <app-login></app-login> -->
<!--
<div id="chat-bot">
    <app-chatbot></app-chatbot>
</div> -->

<nav class="navbar-transparente navbar navbar-expand-lg ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">Quem Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="etapas">Etapas</a>
            </li>
                <li class="nav-item">
            <a class="nav-link" routerLink="cadastrarEmpresa">Cadastrar Empresa</a>
          </li>


        </ul>

      </div>
    </div>
  </nav>
  <div class="conteiner">
    <router-outlet></router-outlet>
  </div>
  <span></span>
