<h4 class="tituloEtapas">Abrir uma empresa nunca ficou tão fácil!</h4>
<h5>Veja como é simples:</h5><br>
<div class="container">
  <div class="textoEtapas1">
    <p class="title" style="text-align: center;">ABRA UM MEI!</p>
      <!--CHECKLIST DAS ETAPAS-->
    <div class="etapas-e-imagem-container">
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><i class="pi pi-check"></i> Faça seu cadastro na GOV.BR.</div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><i class="pi pi-check"></i> Com o acesso, obtenha seu CNPJ MEI no portal do empreendedor.</div>
          </div>
        </li>
      </ol>
    </div>
  </div>

  <div class="imagem-container">
  <img src=".\assets\imgetapa2.png" class="imagemEtapa">
</div>
</div>

<div class="container1">
  <div class="imagem-container">
    <img src=".\assets\imgetapa.png" class="imagemEtapa2">
  </div>
  <div class="textoEtapas">
    <p class="title" style="text-align: center;">PARA AS EMPRESAS NO FORMATO CONVENCIONAL</p>
    <!--CHECKLIST DAS ETAPAS-->
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><i class="pi pi-check"></i> Faça seu cadastro de acesso à plataforma.</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><i class="pi pi-check"></i> Preencha os campos conforme solicitado, onde será gerado um resumo.</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><i class="pi pi-check"></i> Com o resumo, vá presencialmente na praça do empreendedor.</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><i class="pi pi-check"></i> Elaboração do estatuto ou contrato social.</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><i class="pi pi-check"></i> Registro na Junta Comercial ou Cartório.</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <i class="pi pi-check"></i> Alvarás e outras liberações junto a prefeitura.</div>
    </div>
    </li>
</ol>

  </div>

</div>


<div class="iconesRedeSocial">
  <i class="pi pi-facebook"></i>
  <i class="pi pi-whatsapp"></i>
  <i class="pi pi-instagram"></i>
  </div>


<div id="chat-bot">
  <app-chatbot></app-chatbot>
</div>
