
<div id="chat-bot">
  <app-chatbot></app-chatbot>
</div>
<div class="text-center titulo">
  <p>MEU CHECKLIST</p>
  </div>
<div class="flex">
  <div class="barraAzul">
    BEST <br> SOLUTIONS
  <div class="buttonTelaFlex">
    <button pButton label="CADASTRAR EMPRESA" type="button" class="buttonTelaDeCadastro" routerLink="/telaDeCadastro"></button>
    <br><br>
    <button pButton label="CHECKLIST" type="button" class="buttonChecklist" routerLink="/checklist"></button>
  </div>
  </div>
  <div class="alerta">
  <div class="alert alert-primary" role="alert" style="height: 50px;">
  Agora a jornada empreendedora se torna uma estrada clara. Aqui você pode selecionar o que você já fez, e acompanhar os passos que ainda faltam fazer!
  </div>
  <p class="comofunciona">COMO FUNCIONA?</p>

  <div class="alerta">
    <div class="alert alert-primary" role="alert" style="height: 50px center;">
     Em cada seção de cadastro, você pode selecionar uma das três opções (EM ABERTO, EM ANDAMENTO, CONCLUÍDO) dependendo do que você já realizou.
    </div>

  <p class="exemplo">MEU CHECKLIST:</p>


  <div class="secaoinfo">
  <div class="d-flex justify-content-center">
    <div class="row">
      <div class="col-md-6">
        <div class="info">
          <div class="form-row flex espacamentoEsquerda mt-4">
            <div class="form-group col-md-2">
              <div class="">INFO</div>
              <div class="col-sm-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    EM ABERTO
                  </label>
                </div>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  EM ANDAMENTO
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  CONCLUÍDO
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="secaoinfo">
      <div class="d-flex justify-content-center">
        <div class="row">
          <div class="col-md-6">
            <div class="info">
              <div class="form-row flex espacamentoEsquerda mt-4">
                <div class="form-group col-md-2">
                  <div class="">ENDEREÇO</div>
                  <div class="col-sm-2">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        EM ABERTO
                      </label>
                    </div>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck2">
                    <label class="form-check-label" for="gridCheck2">
                      EM ANDAMENTO
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck3">
                    <label class="form-check-label" for="gridCheck3">
                      CONCLUÍDO
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="secaoinfo">
          <div class="d-flex justify-content-center">
            <div class="row">
              <div class="col-md-6">
                <div class="info">
                  <div class="form-row flex espacamentoEsquerda mt-4">
                    <div class="form-group col-md-2">
                      <div class="">SÓCIOS</div>
                      <div class="col-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck1">
                          <label class="form-check-label" for="gridCheck1">
                            EM ABERTO
                          </label>
                        </div>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck2">
                        <label class="form-check-label" for="gridCheck2">
                          EM ANDAMENTO
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck3">
                        <label class="form-check-label" for="gridCheck3">
                          CONCLUÍDO
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      <div class="col-md-6">
        <div class="endereco">
          <div class="form-row flex espacamentoEsquerda mt-4">
            <div class="form-group col-md-2">
              <div class="">CNAES</div>
              <div class="col-sm-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck1">
                  <label class="form-check-label" for="gridCheck1">
                    EM ABERTO
                  </label>
                </div>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck2">
                <label class="form-check-label" for="gridCheck2">
                  EM ANDAMENTO
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck3">
                <label class="form-check-label" for="gridCheck3">
                  CONCLUÍDO
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
